<app-carousel></app-carousel>
<br>
<div class="d-flex justify-content-start">
    <div style="width: 500px;margin-top: 30px; font-style: italic;font-size:24px;">Don’t be afraid to use bright, fun colors  to make your brand more memorable. Where sHOPZY really shines is its comparison chart. It gives you a clear visual of how its cereal compares to the competition. 

        Plus, Magic Spoon’s copy is relatable to its audience. Why sound like a stiff corporate welcome packet when you don’t have to?     
  </div>
   <img src="https://th.bing.com/th/id/OIP.p9nteMTo0_SwAnssWbBvjgHaEO?rs=1&pid=ImgDetMain" style="height:400px;">
</div>
<br>
<app-homecards></app-homecards>
