<div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://images.hdqwalls.com/download/women-outdoor-beach-0q-1920x1080.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-flex flex-column h-100 align-items-center justify-content-center bottom-0">
        <h2 class="bg-dark bg-opacity-50 py-2 px-4">Effortlessly blend comfort & style!</h2>
        <p class="bg-dark bg-opacity-50 py-2 px-4">Effortlessly blend comfort and style with our Casual & Everyday collection, featuring cozy sweaters, versatile denim, laid-back tees, and relaxed-fit joggers for your everyday adventures</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://wallpaperaccess.com/full/1437938.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-flex flex-column h-100 align-items-center justify-content-center bottom-0 ">
        <h2 class="bg-dark bg-opacity-50 py-2 px-4">Professional pinstripe blazers collection</h2>
        <p class="bg-dark bg-opacity-50 py-2 px-4">Elevate your workwear with our Professional Pinstripe Blazers Collection, where tailored sophistication meets modern confidence for a powerfully polished office look.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://wallpaperaccess.com/full/5267670.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-flex flex-column h-100 align-items-center justify-content-center bottom-0">
        <h2 class="bg-dark bg-opacity-50 py-2 px-4">
          Discover the allure of fashion reinvented! </h2>
        <p class="bg-dark bg-opacity-50 py-2 px-4">Dive into a world of style with our latest collection! Shop now and redefine your wardrobe narrative!
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://business.amazon.in/assets/in/24th-jan/705_Website_Blog_Appliances_1450x664.jpg.transform/1450x664/image.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-flex flex-column h-100 align-items-center justify-content-center bottom-0">
        <h2 class="bg-dark bg-opacity-50 py-2 px-4">
          Stay Connected, Stay Electrified!</h2>
        <p class="bg-dark bg-opacity-50 py-2 px-4">Embrace the Digital Revolution With Our Electronics.
        </p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


